body{
	background-color: black;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-self: center;
}

.box-cadastro{
	margin-top: 10%;
	border-radius: 5%;
	background: linear-gradient(to right, #3a1357, #003366);
	padding: 80px;
}

.div-label-user, .div-label-email, .div-label-password, .div-label-again-password{
	margin-left: 10px;
	text-align: left;
	color: white;
}
.div-label-again-password{
	margin-top: 15px;
}
.div-input-button{
	text-align: center;
}
.div-input-button{
	margin-top: 20px;
}