body{
	background-color: black;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-self: center;
}

.error{
	text-align: center;
	font-weight: bold;
	color: red;
}
.user_concluide{
	color:  white;
	text-align: center;
    opacity: 1; 
    animation: aparecerDesaparecer 3s ease-in-out forwards; 
}

@keyframes aparecerDesaparecer {
    0% {
        opacity: 1; /* Início da animação com opacidade 1 */
    }
    90% {
        opacity: 1; /* Mantém a opacidade em 1 até 90% da animação */
    }
    100% {
        opacity: 0; /* Reduz a opacidade novamente para 0 (invisível) no final da animação */
    }
}
.div-novo-usuario hr, p{
	color: white;

}
.div-novo-usuario hr{
	margin-top: 25px;
}
.div-novo-usuario p{
	margin-top: 35px;
}

.box-login{
	margin-top: 20%;
	border-radius: 5%;
	background: linear-gradient(to right, #3a1357, #003366);
	padding: 50px;
}
.div-label-user, .div-label-password{
	margin-left: 10px;
	text-align: left;
	color: white;
}
.div-input-button{
	text-align: center;
}
.div-input-button{
	margin-top: 20px;
}
.div-forgout-password{
	text-align: right;
}
.div-forgout-password a:hover, .div-novo-usuario a:hover{
	color: white;
}
